body {
	background-color: black;
	font-family: "Courier New", Courier, monospace;
	color:#00FF00;
}

p {
	text-align: center;
}

#main {
	margin:auto;
	width:50%;
	height:200px;
	border-radius:25px;
	border-style: solid;
	border-color:#00FF00;
	overflow-x: scroll;
}

#main::-webkit-scrollbar {
    width: 0px;
}

#inpt {
	margin:auto;
	width:50%;
	border-radius:25px;
	border-style: solid;
	border-color:#00FF00;
	padding:2px;
}

#usrinpt {
	border: none;
    color: transparent;
    text-shadow: 0 0 0 #00FF00;
	outline: none;
}

#disp {
	margin:25px;
}

/*
#submit {
	display:none;
}
*/
input[type="text"] {
	border-style:none;
	background-color:#000000;
	font-family: "Courier New", Courier, monospace;
    color:#00FF00;
	
	max-width:50%;
	/*
	opacity:0;
	*/
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
